<%- include("../partials/header") %>

<!-- Wrapper -->
<div id="wrapper">

	<!-- Main -->
	<div id="main">
		<div class="inner">

			<!-- Header -->
			<header id="header">
				<a href="#" class="logo"><strong>Login as:</strong> <%=employee.first_name %> <%= employee.last_name %> -
					<%= currentUser.user_role%></a>
				<ul class="icons">
					<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
					<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
				</ul>
			</header>

			<!-- Banner -->
			<section id="banner">
				<div class="content">
					<header class="text-center">
						<h1><%=employee.first_name%> <%=employee.last_name%></h1>
						<p><%=employee.designation%></p>
					</header>
					<p class="text-center">
						<strong>Company: </strong><%=employee.company%> <br>
						<strong>Employee ID: </strong><%=employee.employee_id%> <br>
						<strong>Department: </strong><%=employee.department%> <br>
						<strong>Contract Type: </strong><%=employee.type_of_employee%> <br>
						<strong>Joining Date: </strong><%=employee.joining_date%> <br>
					</p>
					<div class="d-flex justify-content-center">
						<ul class="actions">
							<li><a href="#" class="button big">View More</a></li>
						</ul>
					</div>
					
				</div>
				<span class="image object">
					<img src="<%= employee.photo%>" class="image fit" style="width: 60%; margin: auto;" alt="" />
				</span>
			</section>

			<!-- Section -->
			<section>
				<header class="major">
					<h2>Overview</h2>
				</header>

				<div class="card-columns">
					
					<div class="card text-white bg-danger mb-3">
						<div class="card-header" style="font-weight: 800;"">Projects</div>
						<div class="card-body">
						  
							<p class="card-text" style="font-size: 20px;"><strong style="color: white;">Assigned Projects:</strong> <%=projects.length%> <br>
								<strong style="color: white;">Team:</strong> <%=team.length %> employees
							</p>
						</div>
					</div>

					<div class="card text-white bg-info mb-3">
						<div class="card-header" style="font-weight: 800;"">Attendances</div>
						<div class="card-body">
							<p class="card-text" style="font-size: 20px;">
								<strong style="color: white;">Count: </strong><%=employee.attendances.length%> <br>
								<strong style="color: white;">Last record: </strong><%=employee.attendances[employee.attendances.length -1].date%>
							</p>
						</div>
					</div>
					
					<div class="card text-white bg-dark mb-3">
						<div class="card-header" style="font-weight: 800;"">Payrolls</div>
						<div class="card-body" >
							<p class="card-text" style="font-size: 20px;">
								<strong style="color: white;">Pending:</strong> <br>
								<strong style="color: white;">Payed:</strong>
							</p>
						</div>
					</div>

					<div class="card text-white bg-success mb-3">
						<div class="card-header" style="font-weight: 800;"">Leaves</div>
						<div class="card-body">
							<p class="card-text" style="font-size: 20px;">
								<strong style="color: white;">Pending:</strong> <%=pendingLeaves%> <br>
								<strong style="color: white;">Approved:</strong> <%=approvedLeaves%>
							</p>
						</div>
					</div>

					<div class="card text-white bg-primary mb-3">
						<div class="card-header" style="font-weight: 800;"">Tasks</div>
						<div class="card-body">
							<p class="card-text" style="font-size: 20px;">
								<strong style="color: white;">Recent:</strong>
							</p>
						</div>
					</div>

				</div>

				
			</section>

			<!-- Section -->
			<section>
				<header class="major">
					<h2>Departments</h2>
				</header>
				
			</section>

		</div>
	</div>

	<!-- Sidebar -->
	<%- include("../partials/emp_sidebar") %>

</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</body>

</html>