<%- include("../partials/header") %>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="#" class="logo"><strong>Login as:</strong> <%= currentUser.username%></a>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
									</ul>
								</header>

							<!-- Content -->
								<section>
									<header class="main">
										<h1><%= dept.department_name%> Department</h1>
									</header>

									<span class="image main"><img src="<%= dept.department_image %>" alt="" /></span>
                                    <div>
                                        <a href="/departments/<%=dept._id%>/edit" class="button secondary">Edit</a>
                                        <form class="delete-form" action="/departments/<%= dept._id%>?_method=DELETE" method="POST">
                                            <button class="button primary">Delete</button>
                                        </form>
                                    </div>

									<p style="margin-top: 10px;"><%= dept.department_description%></p>
									
									<hr class="major" />

                                    <h2>Employee List</h2>
									<!-- All employees of the department will be displayed here -->
									
									<!-- Table -->
									<div class="table-wrapper" style="margin-top: 30px;">
										<table>
											<thead>
												<tr>
													<th>Employee ID</th>
													<th>Type</th>
													<th>Full Name</th>
													<th>Department</th>
													<th>Designation</th>

												</tr>
											</thead>
											<tbody>
												<% employees.forEach(function(emp){ %>
													<% if(emp.company === currentUser.company_name && emp.department === dept.department_name){ %>
														<tr>
															<td><a href="/employees/<%=emp._id%>"><%= emp.employee_id %></a></td>
															<td><%= emp.type_of_employee%> </td>
															<td><%= emp.first_name%> <%= emp.last_name%></td>
															<td><%= emp.department %></td>
															<td><%= emp.designation %></td>
														</tr>
													<% } %>
												<% }) %>
											</tbody>
										</table>
									</div>

                                    <hr class="major" />

                                    <h2>Projects</h2>
                                    <!-- All assigned project will be displayed here -->

                                    
								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
							<%- include("../partials/menu") %>

							<!-- Section -->
                            <section>
                                <header class="major">
                                    <h2>News</h2>
                                </header>
                                <div class="mini-posts">
                                    <article>
                                        <a href="#" class="image"><img src="/images/pic07.jpg" alt="" /></a>
                                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
                                    </article>
                                    <article>
                                        <a href="#" class="image"><img src="/images/pic08.jpg" alt="" /></a>
                                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
                                    </article>
                                    <article>
                                        <a href="#" class="image"><img src="/images/pic09.jpg" alt="" /></a>
                                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
                                    </article>
                                </div>
                                <ul class="actions">
                                    <li><a href="#" class="button">More</a></li>
                                </ul>
                            </section>

                        <!-- Section -->
                            <section>
                                <header class="major">
                                    <h2>Get in touch</h2>
                                </header>
                                <p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                                <ul class="contact">
                                    <li class="icon solid fa-envelope"><a href="#"><%=currentUser.company_email%></a></li>
                                    <li class="icon solid fa-phone"><%=currentUser.company_phone%></li>
                                    <li class="icon solid fa-home"><%=currentUser.company_address%></li>
                                </ul>
                            </section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>